<div>
    <h4>Things I am doing...</h4>
    <ul>
        <li><a href="{{ site.url }}/mixes">mixing and mastering</a> records</li>
        <li><a href="{{ site.url }}/plugins">building audio plugins</a> and deepening my knowledge of dsp</li>
        <li>software development of <a href="https://output.com/product-pages/products/arcade">Arcade</a> at <a href="https://output.com/">Output</a></li>
        <li>making music as <a href="https://songwhip.com/sunidu/sake-tale">Sunidu</a> </li>
        <li>creating <a href="{{ site.url }}/shop">sample packs and loops</a></li>
        <li><a href="{{ site.url }}/film">designing sounds</a> for animation</li>
        <li>building <a href="{{ site.url }}">this</a> website</li>
        <div class="card">
            <p><a href="{{ site.url }}/contact">Get in touch </p>
        </div>
    </ul>
</div>