<div>
    <h4>Things I am doing...</h4>
    <ul>
        <li><a href="{{ site.url }}/mixes">mixing and mastering</a> records</li>
        <li><a href="{{ site.url }}/plugins">building audio plugins</a> and deepening my knowledge of dsp</li>
        <li><a href="https://soundcloud.com/sunidu">making</a> <a href="https://soundcloud.com/bluescruz">music</a> </li>
        <li>creating <a href="{{ site.url }}/shop">sample packs and loops</a></li>
        <li>developing backend software for <a href="https://music.amazon.com/">Amazon Music</a></li>
        <li><a href="{{ site.url }}/film">designing sounds</a> for animation</li>
        <li>building <a href="{{ site.url }}">this</a> website</li>
        <div class="card">
            <p><a href="{{ site.url }}/contact">Get in touch </p>
        </div>
    </ul>
</div>