<div class="card-less-padding container">
  <div class="card-less-padding">
    <h3 class="card-title">{{ film.title }}</h3>
    <p class="card-text">{{ film.content }}</p>
    <p align="center">
        <iframe width="350"
                height="400"
                src="{{ film.link }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </p>
  </div>
</div>
