<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url("/assets/img/{{site.hero_cover_img}}");
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    min-height: 1100px;
  }
  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }

  .jumbotron-heading,
  .lead {
    color: #fff;
  }
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img
    class="author-profile-img"
    src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}"
  />
  <p class="jumbotron-heading">Hi, I am {{site.author}} </p>

  <p.with-four class="lead" id="typewriteText"></p.with-four>

  <!-- uncomment/modify buttons as you want-->
  <div class="jumbotron-btns">
    <!-- <a href="{{site.url}}{{site.baseurl}}/mixes">
      <button class="btn btn-md btn-warning"><strong>Mixes</strong></button>
    </a> -->

    <a href="{{site.url}}{{site.baseurl}}/shop">
      <button class="btn btn-md btn-default">
        <strong>Free Sample Packs</strong>
      </button>
    </a>
  </div>
</div>
