<h1 id="simpleeq">SimpleEQ</h1>
<p>Simple Compressor built with JUCE and foleys_gui_magic</p>
<p><img src="/assets/img/SimpleEQ.png" alt="SimpleEQ_image!"></p>
<h2 id="features">Features</h2>
<ul>
    <li>5 peak band filters</li>
    <li>High pass filter with slope from 12 db/oct - 96 db/oct</li>
    <li>Spectrum analyzer</li>
    <li>Optimized for resize - sliders adjust to size</li>
</ul>
<p>To use in your DAW, copy <code>SimpleEQ/Plugin/SimpleEQ.vst3</code> in to your system VST folder. See <a href="https://docs.juce.com/master/tutorial_app_plugin_packaging.html">Installation Locations.</a></p>
<p>AAX and AU coming soon. In the meantime, feel free to clone and build for whatever platform you wish.</p>