<p align="center" class="profile-links">
    {% if site.instagram_username %}
    <a class="social-link"
       href="http://instagram.com/{{ site.instagram_username }}">
        <i class="fab fa-instagram"></i>
    </a>
    {% endif %}
    {% if site.github_username %}
    <a class="social-link"
       href="http://github.com/{{ site.github_username }}">
        <i class="fab fa-github"></i>
    </a>
    {% endif %}
    {% if site.linkedin_username %}
    <a class="social-link"
       href="http://linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fab fa-linkedin-in"></i>
    </a>
    {% endif %}
    {% if site.youtube_username %}
    <a class="social-link"
       href="https://www.youtube.com/@{{ site.youtube_username }}">
        <i class="fab fa-youtube"></i>
    </a>
    {% endif %}
</p>