<p align="center" class="profile-links">
  <a class="social-link" href="https://songwhip.com/sunidu">
    <i class="fas fa-music" aria-hidden="true"></i>
  </a>
  <a
    class="social-link"
    href="http://instagram.com/{{ site.instagram_username }}"
  >
    <i class="fab fa-instagram" aria-hidden="true"></i>
  </a>
  <a class="social-link" href="http://github.com/{{ site.github_username }}">
    <i class="fab fa-github" aria-hidden="true"></i>
  </a>
  <a
    class="social-link"
    href="http://linkedin.com/in/{{ site.linkedin_username }}"
  >
    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
  </a>
  <a
    class="social-link"
    href="https://www.youtube.com/@{{ site.youtube_username }}"
  >
    <i class="fab fa-youtube" aria-hidden="true"></i>
  </a>
</p>
